In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/final_data.csv")
df

,runtime,audience_rating,G,NC17,NR,PG,PG-13,R,Action & Adventure,Animation,...,Mystery & Suspense,Romance,Science Fiction & Fantasy,Special Interest,Sports & Fitness,Television,Western,directors,actors,production_company
0,119.0,53.0,0,0,0,1,0,0,1,0,...,0,0,1,0,0,0,0,[123],"[706, 1299, 952, None, 298]",2.0
1,90.0,64.0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,[495],"[67, 303, 267, 205, None]",5.0
2,109.0,37.0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,[59],"[None, 547, 530, None, None]",1.0
3,103.0,87.0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,[1560],"[None, None, None, None, None]",298.0
4,100.0,66.0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,[839],"[None, None, None, None, None]",801.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7132,101.0,41.0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,"[205, 265]","[280, 36, 1058, 535, 1110]",14.0
7133,89.0,80.0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,[311],"[51, 20, 41, None, None]",6.0
7134,102.0,20.0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,[311],"[51, 20, 41, 144, 440]",6.0
7135,88.0,33.0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,[1019],"[467, None, None, None, 820]",41.0
7136,108.0,92.0,0,0,0,1,0,0,1,1,...,0,0,0,0,0,0,0,"[739, 684, 1559]","[106, 129, 397, 778, None]",406.0

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

X = df.drop(columns=['audience_rating', 'directors', 'actors', 'runtime', 'production_company'])
y = df['audience_rating']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer
import ast
import numpy as np
from sklearn.preprocessing import MultiLabelBinarizer


model = LinearRegression()

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

r2 = r2_score(y_test, y_pred)

print(r2)

0.18323908088778673